header{
    display: flex;
    justify-content: space-evenly;
}
.image-section{
    display: flex;
    justify-content: space-evenly;
    padding-top: 80px;
    padding-bottom: 80px;
}

.heading p{
    font-size: 35px;
    font-weight: bolder;
}

.title p{
    font-size: 25px;
    font-weight: 400;
}

.text p{
    text-align: center;
}

.post p{
    font-size: 20px;
    transform: rotate(90deg);
    text-align: right;
}
.name p{
    font-size: 28px;
    font-weight: bolder;
}

img{
    max-width: 350px;
}


.post{
    padding-left: 330px;
    
    
}
.mid-block{
    padding-top: 100px;
}
footer p{
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}

@media(max-width:480px){
    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .post{
        padding: 0;
    }

    .post p{
        transform: rotate(0deg);
    }
    .image-section{
        flex-wrap: wrap;
    }
    .mid-block{
        padding-top: 30px;
    }
    img{
        max-width: 150px;
    }
    
}